<div class="container">
    <div class="row" >
        <div class="col-md-2 col-sm-6 col-12 p-2 text-center" 
          *ngFor="let row of items; let i = index" [ngSwitch]="row.status">
            <div *ngSwitchCase="'Charging'" 
              class="card  card-outline-success iconcard">
                <div class="card-block">
                    <h4 class="card-title text-success inner">
                        <a [routerLink]="['/vehicle', row.vid]">{{row.vid}}</a>
                    </h4>
                    <p class="card-text text-success inner">{{row.soc}}</p>
                    <p class="text-success inner">{{row.status}}</p>
                </div>
            </div>
            <div *ngSwitchDefault class="card iconcard">
                <div class="card-block">
                    <h4 class="card-title inner">
                        <a [routerLink]="['/vehicle', row.vid]">{{row.vid}}</a>
                    </h4>
                    <p class="card-text inner">{{row.soc}}</p>
                    <p class="inner">{{row.status}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


