.inner {
  position: relative;
  z-index: 1;
}

.iconcard {
    position:relative;
}    

.iconcard:before {
    content: "\f207"; 
    font-family: FontAwesome;
    font-size: 120px;
    color: #e6e8ed;
    width: 100%;
    /*text-align: center;*/
    position: absolute;
    z-index: 0;
 }
