<p-dataTable [value]="data" class="table" >
    <p-column field="vid" header="VID" [sortable]="true">
       <ng-template let-col let-data="rowData" pTemplate="body">
           <a [routerLink]="['/vehicle', data[col.field]]">{{data[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="soc" header="SOC">
        <ng-template let-col let-data="rowData" pTemplate="body">
            <p-progressBar [value]="data[col.field]"></p-progressBar>
        </ng-template>
    </p-column>
    <p-column field="status" header="Status"></p-column>
    <p-column field="range" header="Range"></p-column>
    <p-column field="mileage" header="Mileage"></p-column>
    <p-column field="updated" header="Updated" [sortable]="true"></p-column>
    <p-column header="Action">
        <ng-template let-row="rowData" pTemplate="body">
            <button title="SMS Request" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#requestModal">
               <i class="fa fa-commenting-o fa-lg"></i>
            </button>
        </ng-template>
    </p-column>
</p-dataTable>

<div class="modal fade" id="requestModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Request is sent successfully.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>