<div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-1 text-center small" *ngFor="let row of items; let i = index" [ngSwitch]="row.status">
        <!--not charging-->
        <!-- <div *ngSwitchCase="0" class="bg-bus-blue"> -->
        <div *ngSwitchCase="0" [class]="getCardBgImgClass(row.vtype, 'blue')">
            <div class="row">
                <div class="col pt-3">
                    <a [routerLink]="['/vehicle', row.vname]">*&nbsp;{{row.vname}}&nbsp;*</a>
                </div>
            </div>
            <div class="row no-gutters align-items-center">
                <div class="col flex-first"></div>
                <div class="col flex-unordered text-center">
                    <h5>{{row.soc | number:'1.0-1'}}</h5>
                </div>
                <div class="col flex-last text-left">%</div>
            </div>
        </div>
        <!-- charging -->
        <!-- <div *ngSwitchDefault class="bg-bus-green"> -->
        <div *ngSwitchDefault [class]="getCardBgImgClass(row.vtype, 'green')">
            <div class="row">
                <div class="col pt-3">
                    <a [routerLink]="['/vehicle', row.vname]">*&nbsp;{{row.vname}}&nbsp;*</a>
                </div>
            </div>
            <div class="row no-gutters align-items-center">
                <div class="col flex-first"></div>
                <div class="col flex-unordered text-center">
                    <h5>{{row.soc | number:'1.0-1'}}</h5>
                </div>
                <div class="col flex-last text-left">%</div>
            </div>
        </div>
    </div>
</div>