<agm-map *ngIf="items && items.length > 0 
    && center.lat != 0 && center.lng != 0" 
    [latitude]="center.lat | geo" 
    [longitude]="center.lng | geo" [zoom]=11 
    [streetViewControl]=false [zoomControl]=true>
  <agm-cluster [imagePath]="clusterIcon"> 
    <agm-marker *ngFor="let m of items"
        [latitude]="m.lat | geo" [longitude]="m.lng | geo"
        [label]="m.vname" [title]="m.vname" 
        [iconUrl]="markerIcon" 
        [markerDraggable]=false> 
    </agm-marker>
  </agm-cluster>
</agm-map>
