<agm-map *ngIf="statusList && statusList.length > 0 
    && statusList[0].lat != 0 && statusList[0].lng != 0" 
    [latitude]="statusList[0].lat | geo" 
    [longitude]="statusList[0].lng | geo" [zoom]=10 
    [streetViewControl]=false [zoomControl]=true>
  <agm-marker *ngFor="let m of statusList"
      [latitude]="m.lat | geo" [longitude]="m.lng | geo"
      [label]="m.vname" [title]="m.vname" 
      [iconUrl]="'http://cloud.iocontrols.com/online2017/hams/images/mapicon/oi_map_marker.yellow.46px.png'" 
      [markerDraggable]=false> 
  </agm-marker>
</agm-map>
