<!-- Header Section -->
<div class="navbar text-center bg-faded mb-2">
    <div class="row no-gutters align-items-center">
        <div class="col flex-first text-left">
            <a href="#menu" data-toggle="collapse">
                <i class="fa fa-expand fa-lg"></i>
            </a>
            / Fleet</div>
        <div class="col flex-unordered text-center">
            <p style="font-size: 11pt" class="mb-0">
                <i class="fa fa-flag"></i> {{ (fleet$ | async)?.fname }} 
            </p>
            <p style="font-size: 9pt" class="mb-0">{{ (fleet$ | async)?.remark }} </p>
        </div>
        <div class="col flex-last text-left"></div>
    </div>
</div>

<!-- Google Map Secton -->
<div *ngIf="data && data.length > 0" class="card m-2 p-0">
    <div class="card-block p-0">
        <app-fleet-map [items]="data" [center] = "defaultLocation"></app-fleet-map>
    </div>
</div>

<!-- Vehicles Table -->
<div class="card m-2">
    <div class="card-header p-0">
        <div class="row align-items-center">
            <div class="col flex-first"></div>
            <div class="col flex-center text-center">
                <h5>Vehicles</h5>
            </div>
            <div class="col flex-last text-right">
                <div class="btn-group">
                    <button class="btn btn-link" (click)="toggleView()">
                        <i class="fa fa-list fa-lg" [hidden]="!isShown('cards')"></i>
                        <i class="fa fa-th-large fa-lg" [hidden]="!isShown('table')"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="col" [ngSwitch]="viewComponent">
            <datatable *ngSwitchCase="'table'" [items]="data"></datatable>
            <datacards *ngSwitchCase="'cards'" [items]="data"></datacards>
        </div>
    </div>
</div>