<div class="row m-1" *ngIf="showFleets; else blockAccessNotAllowed" >
  <div class="col-sm-6 col-12 p-2 text-center" *ngFor="let fleet of fleets">
    <a [routerLink]="['/fleet', fleet.fname]">
      <button class="btn btn-secondary w-100">
        <div class="row align-items-center">
          <div class="col flex-start text-right">
            <img [src]="fleet.icon">
          </div>
          <div class="col flex-end text-left">
            {{ fleet.fname }}
          </div>
        </div>
      </button>
    </a>
  </div>
</div>
<ng-template #blockAccessNotAllowed>
  <div class="row p-4">
    <div class="col text-left align-middle">
      <!--<h1>Sorry, your access is not allowed, please return to <a href="http://cloud.iocontrols.com/ioc">Home Page</a></h1>-->
    </div>
  </div>
</ng-template>