<div id="accordion" class="full-height">
  <div class="card">
      <h5 class="card-header panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseHome" 
          routerLink="/fleet" routerLinkActive="active" >
          <i class="fa fa-home fa-fw"></i> HAMS Main
        </a>
      </h5>
  </div>
  <div class="card">
      <h5 class="card-header panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFleet"> 
          <i class="fa fa-bus fa-fw"></i> Fleet
        </a>
      </h5>
    <div id="collapseFleet" class="collapse">
      <div class="card-block p-0">
        <p-tieredMenu [model]="fleetItems"></p-tieredMenu>
      </div>
    </div>
  </div>
  <div class="card">
      <h5 class="card-header panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseDailyAnalysis">
          <i class="fa fa-line-chart fa-fw"></i> Daily Analysis
        </a>
      </h5>
    <div id="collapseDailyAnalysis" class="collapse">
      <div class="card-block p-0 submenu">
        <p-tieredMenu [model]="vehicleItems"></p-tieredMenu>
      </div>
    </div>
  </div>
  <div class="card">
      <h5 class="card-header panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAlertAnalysis"> 
          <i class="fa fa-line-chart fa-fw"></i>&nbsp;Alert Analysis
        </a>
      </h5>
    <div id="collapseAlertAnalysis" class="collapse">
      <div class="card-block p-0 submenu">
        <p-tieredMenu [model]="alertItems"></p-tieredMenu>
      </div>
    </div>
  </div>
  <div class="card">
      <h5 class="card-header panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" 
          [routerLink]="monthlyReportItem" routerLinkActive="active"> 
          <i class="fa fa-bar-chart fa-fw"></i>&nbsp;Monthly Report
        </a>
      </h5>
  </div>
  <div class="card">
      <h5 class="card-header panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" 
          [routerLink]="dailyReportItem" routerLinkActive="active">
          <i class="fa fa-bar-chart fa-fw"></i>&nbsp;Daily Report
        </a>
      </h5>
  </div>
   <!--<div class="card full-height">
      <h5 class="card-header panel-heading full-height">
      </h5>
  </div> -->
</div>