<agm-map *ngIf="statusList && statusList.length > 0" 
    [latitude]="statusList[0].lat | geo" 
    [longitude]="statusList[0].lng | geo" [zoom]=14 
    [streetViewControl]=false [zoomControl]=false>
  <agm-marker 
      [latitude]="statusList[0].lat | geo" 
      [longitude]="statusList[0].lng | geo"
      [label]="'V'" [title]="statusList[0].vname" 
      [markerDraggable]=false> 
  </agm-marker>
  <agm-polyline [polylineDraggable]=false 
    [strokeColor]="red" [strokeOpacity]="0.5" [strokeWeight]="5">
    <agm-polyline-point *ngFor="let m of statusList"
      [latitude]="m.lat | geo" [longitude]="m.lng | geo">
    </agm-polyline-point>
  </agm-polyline>
</agm-map>