<agm-map *ngIf="statusList && statusList.length > 0 
  && selectedStatus && selectedStatus.lat != 0 
  && selectedStatus.lng != 0" 
    [latitude]="selectedStatus.lat | geo" 
    [longitude]="selectedStatus.lng | geo" [zoom]=12 
    [streetViewControl]=false [zoomControl]=true>
  <agm-marker 
      [latitude]="selectedStatus.lat | geo" 
      [longitude]="selectedStatus.lng | geo"
      [label]="'V'" [title]="selectedStatus.vname" 
      [markerDraggable]=false> 
  </agm-marker>
  <agm-polyline [polylineDraggable]=false 
    [strokeColor]="red" [strokeOpacity]="0.5" [strokeWeight]="5">
    <agm-polyline-point *ngFor="let m of statusList"
      [latitude]="m.lat | geo" [longitude]="m.lng | geo">
    </agm-polyline-point>
  </agm-polyline>
</agm-map>