@import url('https://fonts.googleapis.com/css?family=Orbitron');

.app-justgage {
  height: 150px;
}

.app-tab-pane {
  height: 300px;
  padding: 20px
}

.app-scoreboard {
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: black;
  border: 3px solid;
  border-color: silver;
  border-radius: 15px;
  text-align: center;
}

.app-card-bg {
  background-color: lightgrey;
}