@import url('https://fonts.googleapis.com/css?family=Orbitron');

.app-justgage {
  height: 160px;
}

.app-tab-pane {
  height: 300px;
  padding: 20px
}

.app-scoreboard {
  /*color: white;*/
  /*background-color: #0275d8;*/
  font-family: 'Orbitron', sans-serif;
  color: #0275d8;
  background-color: white;
  border: 3px solid;
  border-color: silver;
  border-radius: 5px;
  text-align: center;
}

.app-card-bg {
  background-color: #F0F0F0
  ;
}