<!-- Header Section -->
<div class="navbar text-center bg-faded mb-2">
  <div class="row no-gutters align-items-center">
    <div class="col flex-first text-left">/ Daily Analysis</div>
    <div class="col flex-unordered text-center">
      <h5> <i class="fa fa-flag"></i> {{ fleetName }} - <i class="fa fa-bus"></i> {{ vehicleName }} </h5>
    </div>
    <div class="col flex-last text-right">
      <button type="button" class="btn btn-primary btn-sm text-center" (click)="exportCharts()">Export Charts</button>
    </div>
  </div>
</div>

<div #chartsP1>
  <!-- Daily Mileage Chart -->
  <div class="card-deck m-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1 col-md-4"></div>
          <div class="col-11 col-md-4 text-center text-primary"><h5>Daily Mileage</h5></div>
          <div class="col-12 col-md-4 text-left">
            <my-date-range-picker [options]="optionMileageDateRangePicker" 
              (dateRangeChanged)="onMileageDateChanged($event)" placeholder="Select Date Range">
            </my-date-range-picker>
          </div>
        </div>
      </div>
      <div class="card-block">
         <p-chart #chartMileage type="bar" [options]="optionMileageChart" 
          width="720" height="240">
         </p-chart>
      </div>
    </div>
  </div>
  <!-- Daily SOC & Energy -->
  <div class="card-deck m-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1 col-md-4"></div>
          <div class="col-11 col-md-4 text-center text-primary">
            <h5>Daily SOC &amp; Energy</h5>
          </div>
          <div class="col-12 col-md-4 text-left">
            <my-date-range-picker [options]="optionSocEnergyDateRangePicker" 
              (dateRangeChanged)="onSocEnergyDateChanged($event)" placeholder="Select Date Range">
            </my-date-range-picker>
          </div>
        </div>
      </div>
      <div class="card-block">
        <p-chart #chartSocEnergy type="bar" [options]="optionSocEnergyChart" 
          width="720" height="240">
        </p-chart>
      </div>
    </div>
  </div>
</div>

<div #chartsP2>
  <!-- Daily SOC, Mileage & Energy Chart -->
  <div class="card-deck m-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1 col-md-4"></div>
          <div class="col-11 col-md-4 text-center text-primary">
            <h5>Daily SOC, Mileage &amp; Energy</h5>
          </div>
          <div class="col-12 col-md-4 text-left">
            <my-date-range-picker [options]="optionSocMileageEnergyDateRangePicker" 
              (dateRangeChanged)="onSocMileageEnergyDateChanged($event)" 
              placeholder="Select Date Range">
            </my-date-range-picker>
          </div>
        </div>
      </div>
      <div class="card-block">
        <p-chart #chartSocMileageEnergy type="bar" [options]="optionSocMileageEnergyChart" 
          width="720" height="240"></p-chart>
      </div>
    </div>
  </div>
  <!-- Daily Emission Reduction -->
  <div class="card-deck m-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1 col-md-4"></div>
          <div class="col-11 col-md-4 text-center text-primary">
            <h5>Daily Emission Reduction</h5>
          </div>
          <div class="col-12 col-md-4 text-left">
            <my-date-range-picker [options]="optionEmissionReductionDateRangePicker" 
              (dateRangeChanged)="onEmissionReductionDateChanged($event)" 
              placeholder="Select Date Range">
            </my-date-range-picker>
          </div>
        </div>
      </div>
      <div class="card-block">
        <p-chart #chartEmissionReduction type="bar" [options]="optionEmissionReductionChart" 
          width="720" height="240"></p-chart>
      </div>
    </div>
  </div>
</div>
