<!-- Header Section -->
<div class="navbar text-center bg-faded mb-2">
  <div class="row no-gutters align-items-center">
    <div class="col flex-first text-left">/ Daily Analysis</div>
    <div class="col flex-unordered text-center">
      <h5> <i class="fa fa-flag"></i> {{ fleetID }} - <i class="fa fa-bus"></i> {{ vehicleID }} </h5>
    </div>
    <div class="col flex-last text-right">
      <button type="button" class="btn btn-primary btn-sm text-center" (click)="exportCharts()">Export Charts</button>
    </div>
  </div>
</div>

<div #charts>
  <!-- Vehicle Alert Proportion -->
  <div class="card-deck m-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col"></div>
          <div class="col text-center text-primary"><h5>Vehicle Alert Proportion</h5></div>
          <div class="col text-left">
          <my-date-range-picker [options]="optionVehicleAlertDateRangePicker" 
            (dateRangeChanged)="onVehicleAlertDateChanged($event)" 
            placeholder="Select Date Range">
          </my-date-range-picker>
          </div>
        </div>
      </div>
      <div class="card-block">
         <p-chart #chartVehicleAlert type="pie" [data]="dataVehicleAlertChart" 
          [options]="optionVehicleAlertChart" width="960" height="300">
         </p-chart>
      </div>
    </div>
  </div>
  <!-- Fleet Alert Proportion -->
  <div class="card-deck m-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col"></div>
          <div class="col text-center text-primary"><h5>Fleet Alert Proportion</h5></div>
          <div class="col text-left">
            <my-date-range-picker [options]="optionFleetAlertDateRangePicker" 
              (dateRangeChanged)="onFleetAlertDateChanged($event)" 
              placeholder="Select Date Range">
            </my-date-range-picker>
          </div>
        </div>
      </div>
      <div class="card-block text-center">
        <p-chart #chartFleetAlert type="pie" [data]="dataFleetAlertChart" 
          [options]="optionFleetAlertChart" width="960" height="300">
        </p-chart>
      </div>
    </div>
  </div>
</div>